<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <connectionStrings>
    <!--<add name="LeaderConn" connectionString="Server=localhost; Database=Leader; User Id=LeaderAdmin;Password='Test@123';MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>-->

    <add name="LeaderConn" connectionString="Server=Dell-PC; Database=Leader; User Id=LeaderUser;Password='Admin@321$';MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="LeaderPhonenumberAndEmail" value="Ph: 8978777537, 0891-6660909, Email: leaderbillings@gmail.com"/>
    <add key="GSTNum" value="37AAACF3343C1Z4"/>
    <add key="TO" value="leaderramanamurthy@gmail.com"/>
    <add key="CC" value="Madhavidevileader@gmail.com"/>
    <add key="Test" value="Prod"/>
    <!--<add key="ReportsFolder" value="C:\Vijju\Leader\Reports"/>
    <add key="InvoiceFolder" value="C:\Vijju\Leader\PDF Reports\Invoice"/>
    <add key="CashFolder" value="C:\Vijju\Leader\PDF Reports\Cash Receipt"/>-->
    <add key="ReportsFolder" value="E:\Vijay\Reports"/>
    <add key="InvoiceFolder" value="E:\Vijay\PDF Reports\Invoice"/>
    <add key="CashFolder" value="E:\Vijay\PDF Reports\Cash Receipt"/> 
  </appSettings>
</configuration>
